@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1c1c1c;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.card3d {
  margin: 4px;
  transform: scale(1);
  perspective: 600px;
}

.card3d:hover {
  z-index: 10;
  transform: scale(1.3);
}
